{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock header %}
{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}
{% block content %}
<div class="row">
  <img class="logowvh" src="{% static 'img/logo/wvh.svg'%}" alt="" >
  <div class="d-flex justify-content-center mt-5">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h5>Willkommen bei der <strong>Fallen Birdy Form</strong> App</h5>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <div class="btn-group col-12" role="group" data-toggle="buttons">
            <button class="col-3 btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            <a class="col-5 btn btn-danger" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
