{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<h3>Einen Patienten anlegen</h3>
<div class="row">
  <div class="col-lg-6 mb-3">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <a href="{% url 'bird_all' %}" class="btn btn-success">Abbrechen</a>
      <button class="btn btn-primary" type="submit">Speichern</button>
      <div class="mt-3"><small>* Pflichtfeld</small></div>
    </form>
  </div>

  <div class="col-lg-4">
    <h4>Kennung</h4>
    <p>
      Die Kennung, oder auch Patientennummer, wird sowohl für uns bei der
      Wildvogelhilfe zum Unterscheiden von Individuen der gleichen Art
      verwendet, als auch beim Tierarzt zum Zuordnen von Diagnosen und
      Rechnungen. Es wird automatisch ein kurzer Name generiert. Sollte die
      Kennung eine andere sein, kann diese jederzeit angepasst werden.
    </p>

    <h4>Fundort</h4>
    <p>
      Der Fundort muss möglichst genau angegeben werden, damit der Vogel später
      an der gleichen Stelle auch wieder ausgewildert werden kann.
    </p>

    <h4>Diagnose bei Fund</h4>
    <p>
      Die Diagnose bei Fund beschreibt die schnelle Erstdiagnose ohne ärztliche
      Kenntnisse. Hat der Vogel äußere Verletzungen, humpelt er, hängt ein
      Flügel?
    </p>
  </div>
</div>

<script src="{% static 'js/find_circumstances.js' %}"></script>

{% endblock content %}
