{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-8 mb-3">
        <h3>Hilfesammlung</h3>
        <p>
            Anbei finden Sie eine kleine Hilfsammlung über verschiedene
            Vogelarten, deren Merkmale und Nahrungsaufnahme. Vervollständigt
            wird diese Übersicht von den Administratoren der App.
        </p>
        <ul>
            {% for bird in birds %}
            <li>
                <a href="{% url 'bird_help_single' bird.id %}">{{ bird.name }}</a>
            </li>
            {% endfor %}

        </ul>
    </div>
</div>
{% endblock content %}
