{% extends 'base.html' %}
{% block content %}
<h3>Patient löschen</h3>
<div class="row mt-3">
    <div class="col-lg-7">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-dismissible alert-danger">
                <h4 class="alert-heading">Warnung!</h4>
                <p class="mb-0">Wollen Sie den Vogel <strong>{{bird.bird}}</strong>
                    Reg-Num.: <strong>{{bird.id}}</strong> löschen?</p>
            </div>
            </p>
            <a href="{% url 'bird_all' %}" class="btn btn-success">Abbrechen</a>
            <button class="btn btn-danger" type="submit">Löschen</button>
        </form>
    </div>
    <div class="col-lg-5">
        <h5>Vogel löschen</h5>
        <p>
            Hinweis zum Löschen eines Vogels!
        </p>
    </div>
</div>
{% endblock content %}