{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock header %}

{% block content %}
<h3>Patientengallerie</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
    {% for picture in pictures %}
    <div class="col">
      <div class="card shadow-sm">
        <img src="{{ picture.image.url }}" alt="{{ picture.title }}">
        <div class="card-body">
          <p class="card-text">{{ picture.fallenbird }} <small>{{ picture.fallenbird.bird }}, {{ picture.fallenbird.place_found }},  {{ picture.fallenbird.find_circumstances }}</small></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ansehen</button>
              {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Löschen</button> {% endcomment %}
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'pictures_delete' picture.id %}">Löschen</a>
            </div>
            <small class="text-body-secondary">{{ picture.date_uploaded }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
