{% extends "base.html" %}
{% load static %}

{% block content %}
<h3>Bild löschen</h3>
{% if not pictures %}
    <p>Bisher wurden keine Bilder hinterlegt.</p>
{% else %}

<p>
    <div class="alert alert-dismissible alert-danger">
      <h4 class="alert-heading">Warnung!</h4>
      <p class="mb-0">Soll folgendes Bild wirklich gelöscht werden?</p>
    </div>
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
  {% for picture in pictures %}
  <div class="col">
    <div class="card shadow-sm">
      <img src="{{ picture.image.url }}" alt="{{ picture.title }}">
      <div class="card-body">
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <p class="mt-3">
      <a class="btn btn-secondary" href="#">Abbruch</a></li>
      <a class="btn btn-primary" href="#">Löschen</a>
  </p>
</div>
{% endif %}

{% endblock content %}
