{% if user.is_authenticated %}
<div class="container-lg">
    <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">Version: 1.0 © 2023 stp </p>
        <ul class="nav col-md-5 justify-content-end">
            <li class="nav-item">
                <a class="nav-link px-2 text-muted" href="{% url 'bird_all' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-muted" href="https://www.nabu-jena.de/j/privacy">Datenschutzerklärung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-muted" href="https://www.nabu-jena.de/about/">Impressum</a>
            </li>
        </ul>
    </footer>
</div>
{% endif %}
